ul {
    padding: 0;
}

ul li {
    list-style: none;
    border: 1px solid transparent;
    padding: 10px;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 4px;
}

.msg-bubble-right {
    margin-left: auto !important;
    margin-right: 0 !important;
}